<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
</head>
<body>
<div>
    <ul>
        {% for i in object_list %}
            <li>
                <h2><a href="/posts/{{ i.id }}/">{{ i.title }}</a></h2>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
